<div class="container mt-3">
  <% flash.each do |key, value| %>
    <% klass = { notice: "alert alert-primary", alert: "alert alert-danger" }[key.to_sym] || "alert alert-info" %>
    <div class="<%= klass %>"><%= value %></div>
  <% end %>
</div>
